<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"></meta>
		<title>Denuncias</title>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css"></link>
				
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>

	<body>
	
		<div th:replace="fragments/header :: header"></div>

		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						
						<a 	style="border-bottom-color: green" th:href="@{/denuncias/irRegistrar}"
							id="add-row" type="button" class="btn btn-primary btn-md left-block"> 
							<span class="glyphicon glyphicon-plus"></span> Denuncia
						</a>
						
					
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">LUGAR</th>
									<th class="text-center">FECHA</th>
									<th class="text-center">DESCRIPCION</th>
									<th class="text-center">PERSONA</th>
									<th class="text-center">DELITO</th>
									<th class="text-center">COMISARIA</th>
									<th class="text-center">OPERACIÓN</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="den: ${listaDenuncias}">
									
									<!-- th:text muestra una linea de texto -->
									
									<td th:text="${den.idDenuncias}"></td>
									<td th:text="${den.lugar}"></td>
									<td th:text="${#dates.format(den.fechaDenuncia,'dd/MM/yyyy')}"></td>
									<td th:text="${den.Descripcion}"></td>
									<td th:text="${den.persona.nomPersona}"></td>
									<td th:text="${den.delitos.nomDelitos}"></td>
									<td th:text="${den.comisaria.nomComisaria}"></td>
								
									<!-- th:href Redirecciona -->
									
									<td><a th:href="@{/denuncias/eliminar?id=}+${den.idDenuncias}">Eliminar</a></td>
								</tr>
							</tbody>

						</table>

					</div>
				</div>
			</form>
		</div>

		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
