<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1"></meta>
	
		<title>Reporte</title>
	
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	</head>
	
	<body>
<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-sm-4 py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a class="" th:href="@{/reporte/bienvenido}">Llama Police</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle toogle-2">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li class="active"><a th:href="@{/reporte/listar}">Reporte</a></li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a th:href="@{/denuncias/listar}">Denuncias</a></li>
								<li class="mx-lg-2">|</a></li>
								<li class="mx-lg-2 mx-md-3 my-md-0 my-2 nav-item dropdown no-arrow">
									<a href="#">[[${#httpServletRequest.remoteUser}]]<span class="nav-item dropdown no-arrow" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-2" />
									 <ul><form id="logoutForm" th:action="@{/logout}" method="post">
										<li><button onclick="document.getElementById('logoutForm').submit();"
										type="submit" href="#best" class="drop-text">Log out</button></li>
									</form></ul>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		
		<div class="container">
												
			<form th:action="@{/reporte/registrar}" method="post" th:object="${reporte}" enctype="multipart/form-data">
			
				<div class="form-group">
					
					<label for="idReporte">ID:</label> 
					<input type="text" class="form-control" th:field="*{idReporte}"></input>

					<div class="form-group">
										
						<label 	for="Descripcion">DESCRIPCION BREVE:</label> 
						<input type="text" th:field="*{Descripcion}" class="form-control" id="Descripcion"></input>
												
						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('Descripcion')}" 
								th:errors="*{Descripcion}">
						</div>
						
						<label for="persona" class=" col-sm-2 col-form-label">USUARIO: </label>
						<select class="form-control" th:field="*{usuario.idUsuario}">
							<option th:each="p: ${listaUsuarios}" th:value="${p.idUsuario}"
									th:text="${p.nombre}"
									th:selected="(${p.idUsuario} == *{usuario.idUsuario})">
							</option>
						</select>
						
						<label for="denuncias" class=" col-sm-2 col-form-label">DENUNCIA: </label>
						<select class="form-control" th:field="*{denuncia.idDenuncias}">
							<option th:each="d: ${listaDenuncias" th:value="${d.idDenuncias}"
									th:text="${d.lugar}"
									th:selected="(${d.idDenuncias} == *{denuncia.idDenuncias})">
							</option>
						</select>						
					</div>

				</div>

				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/reporte/listar" class="btn btn-danger">Cancelar</a>

			</form>
		</div>
		
	</body>
	
</html>